.countRed {
    color: red;
}

.superCount {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.container {
    width: 350px;
    padding: 4px;
    border: 3px solid #249aff;
    border-radius: 5px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.count {
    background-color: #249aff;
    padding: 10px;
    flex-grow: 1;
    font-size: 30px;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
}

.buttons {
    padding: 8px 3px 3px 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;

    button{
        cursor: pointer;
    }
}