.settings {
    max-width: 350px;
    padding: 4px;
    border: 3px solid #249aff;
    border-radius: 5px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.inputs {
    border: 3px solid #249aff;
    border-radius: 5px;
    padding: 20px;
}

.set {
    border: 3px solid #249aff;
    border-radius: 5px;
    padding: 13px 0;
}

.label {
    color: #249aff;
}

.input {
    background-color: #f9f9f9;
    outline: 3px solid #49abff;
    border-radius: 5px;
    border: none;
    color: black;
    text-align: center;
    font-size: 16px;
}

.red {
    color: red;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
}